html {
  background-color: silver;
}

.header {
  background-color: black;
  height: 200px;
  padding-top: 20px;
  text-align: center;
  color: snow;
  font-family: 'Bubbler One', sans-serif;
}

h1 {
  font-family: monospace;
}

.leftdiv {
  padding-left: 20px;
  background-color: gold;
  float: left;
  width: 20%;
  padding-top: 10px;
  margin-right: 50px;
  padding-bottom: 200px;
  font-family: 'Bubbler One', sans-serif;
}

.nm {
  padding-left: 50px;
  padding-right: 20px;
}

.rightdiv {
  background-color: silver;
  float: right;
  width: 70%;
  padding-top: 10px;
  margin-right: 50px;
  padding-bottom: 200px;
  font-family: 'Marvel', sans-serif;
}
